{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TANTUM PROJECTS</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- swert-alert -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
  <!-- end-swertalert -->

  <!-- Favicons -->
  <link rel="icon" type="images/x-icon" href="{% static 'landing/images/icons/favicon.icon' %}">
  <link href="{% static 'landing/img/apple-touch-icon.png'%}" rel="apple-touch-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'landing/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet">
  <link href="{% static 'landing/vendor/animate.css/animate.min.css'%}" rel="stylesheet">
  <link href="{% static 'landing/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'landing/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'landing/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'landing/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'landing/vendor/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{% static 'landing/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- swert-alert -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
  <!-- end-swertalert -->

  <!-- Template Main CSS File -->
  <link href="{% static 'landing/css/style.css'%}" rel="stylesheet">

</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i> <a href="#">dillib440@gmail.com</a>
        <i class="bi bi-phone"></i> +91 9786274976
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      
      <img src="{% static 'landing/img/logo.png' %}" height="20%" width="50px">
      <h1 class="logo me-auto" style="padding-left: 20px;"><a href="/index">TANTUM PROJECTS</a></h1>
     
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/index">HOME</a></li>
          <!-- <li><a class="nav-link scrollto active" href="#">ABOUT US</a></li> -->
          
         
         <li><a class="nav-link scrollto" href="#">WHAT WE DO</a></li>
           
          <li><a class="nav-link scrollto" href="#">PROJECTS</a></li>
          <li><a class="nav-link scrollto" href="#">BLOGS</a></li>
          <li><a class="nav-link scrollto" href="#">CONTACT</a></li>
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="/login" class="appointment-btn scrollto"><button type="button" class="btn btn-primary" style="border-radius: 10%;text-indent:5px;margin-left: 10px;">Login</button></a>

    </div>
  </header>
  <!-- second div -->
  <div>
    <div id="box" style="padding-top: 150px;">
      <h1 >Throw Your First</h1>
      <h1 >Boomerang Today,</h1>
      <h1 >and Prepare to</h1>
      <h1 >Catch the Profits</h1>
    </div>

    <div id="box1">
      <h5 >Exclusive properties deals that are not are</h5>
      <h5 >notavailable through traditional means Unlock.</h5>
    </div>
  </div>
      
  
  
      

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2 style="text-align: center;color: #2c4964;">Contact</h2>
          <p></p>
        </div>
      </div>
      <div class="container">
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <img src="{% static 'landing/img/contact.jpg' %}" width="600px" style="padding-right: 250px;">
              </div>

              <div class="email">
                
              </div>

              <div class="phone">
\
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">
<!-- =============================== form start ======================= -->
            <form id="contact_form" role="form" class="php-email-form"> 
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" >
                  
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" >
                  
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" >
                
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" id="message" placeholder="Message" ></textarea>
                
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="button" id="btn" class="btn btn-primary" >Send Message</button></div>
            </form>
<!-- =========================== form end ============================ -->
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>TANTUM PROJECTS</h3>
            <p>
              Project 1<br>
             
              project 2 <br><br>
              <strong>Phone:</strong>+91 9786274976<br>
              <strong>Email:</strong> dillib440@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">HOME</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">ABOUT US</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">WHAT WE DO</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">PROJECTS</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">BLOGS</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">CONTACT</a></li>

            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Transport 1</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Transport 2</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Transport 3</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Transport 4</a></li>
              
            </ul>
          </div>
          <img src="{% static 'landing/img/man.png' %}" style="width: 20%;">
         

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>TANTUM PROJECTS</span></strong>. All Rights Reserved
        </div>
        
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <!-- ******************************* pop up ******************************** -->
  <div class="modal" id="pop" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Enquiery</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Your message has been sent!.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Ok</button>
        </div>
      </div>
    </div>
  </div>


  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'landing/vendor/purecounter/purecounter.js'%}"></script>
  <script src="{% static 'landing/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'landing/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'landing/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'landing/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'landing/js/main.js'%}"></script>

  <!-- *********** contact script *********** -->

  <script>
		$("#btn").click(function () {
		  $(".error").hide();
		  var hasError = false;
		  var name = $("#name").val();
		  var email= $("#email").val();
      var subject = $("#subject").val();
      var message = $("#message").val();
		  if (name == '') {
			$("#name").after('<span class="error" style="color:red;">Please Enter Your name</span>');
			hasError = true;
		  }

      if (email == '') {
			$("#email").after('<span class="error" style="color:red;">Please Enter Your email</span>');
			hasError = true;
		  }

      if (subject == '') {
			$("#subject").after('<span class="error" style="color:red;">Please Enter Your subject</span>');
			hasError = true;
		  }

		  if (message==''){
			$("#message").after('<span class="error" style="color:red;">Please Enter Your message</span>');
			hasError = true;  
		  }
		  if(hasError == true) { return false;
		  }
      // else{
      // swal("Good job!", "registraion successfully!", "success");
    // }
      $.ajax({
        url:"{% url 'contact_form_submission' %}",
        type:"POST",
        data:$("#contact_form").serialize(),          
        success:function(response){
          console.log("feedback success");
          $("#btn")[0].reset();
          $("#pop").modal("show");
        }
      })


		});
	  </script>

    <!-- appointment table -->
    <script>
      $("#btn-click").click(function(){
        $(".error").hide();
        var hasError=false;
        var name=$("#name1").val();
        
        var phone = $("#phone1").val();
        var date=$("#date1").val();
        var department=$("#department1").val();
        var doctor=$("#doctor1").val();

        if (name == ''){
          $("#name1").after('<span class="error" style="color:red">Please Enter Your name</span>')
          hasError = true;    
        }
        if (phone == ''){
          $("#phone1").after('<span class="error" style="color:red">Please Enter Your phone number</span>')
            hasError = true;
        }
        if (date == ''){
          $("#date1").after('<span class="error" style="color:red">Please Enter Your email</span>')
            hasError = true;
        }
        if (department == ''){
          $("#department1").after('<span class="error" style="color:red">Please Select Department</span>')
            hasError = true;
        }
        if (doctor == ''){
          $("#doctor1").after('<sapn class="error" style="color:red">Please Select Doctor</span>')
            hasError = true;
        }
        if (message == ''){
          $("#message1").after('<span class="error" style="color:red">Please Enter Your Message</span>')
          hasError = true;
        }

        if (hasError == true) {return false;
        }
        else{
        swal("Good job!", "Your Appointment has been Registered Successfully !", "success");
        }
      });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


</body>

</html>